@{
  Layout = "_Layout";
}
@model HairSalon.Models.Stylist

<h2>Are you sure pou want to</h2>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
<p>@Html.ActionLink("Back to Stylists", "Index")</p>