@{
  Layout = "_Layout";
}

<h1>Clients must be associated with a stylist</h1>
<button>@Html.ActionLink("Home", "Index", "Home")</button>
<button>@Html.ActionLink("Back to add clients", "Create")</button>